*{
padding:0;
}

body {
font-family:Arial,Verdana,Helvetica,sans-serif;
color:#333;
font-size:18px;
margin:50px;
background-image:url('../img/bg.png');
}

a {color:#08c; outline-style:none;cursor:pointer}
a:link,a:visited{ text-decoration:none}
a:hover,a:active {
  text-decoration:underline;
  text-shadow: 0 0 5px #fff,0 0 8px rgba(255,255,255,.6);
}

.map {
opacity:.9;
border-radius:5px;
margin-right:12px;
box-shadow:0 1px 3px rgba(51,51,51,0.3);
border: 1px solid #999;
height:400px;
}

.white {
color:#666;
text-shadow: 0 0 5px #fff,0 0 8px rgba(255,255,255,.6);
}

.center {
text-align:center;
margin-left:auto;
margin-right:auto;
width:80%;
}

.footer {
margin-top:200px;
clear:both;
padding:1px 10px;
border-top:1px dotted #999;
font-size:11px;
}
